<mat-card>
  <mat-card-content>
    <mat-card-title>Basic Chips</mat-card-title>
    <mat-card-subtitle><code>&lt;mat-chip&gt;</code>displays a list of values as individual, keyboard accessible, chips.
      <code
        class=""><a href="https://material.angular.io/components/chips/overview">Official Component</a></code></mat-card-subtitle>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-card-title>Chip input</mat-card-title>
    <mat-card-subtitle>The MatChipInput directive can be used together with a chip-list to streamline the interaction
      between the two components. This directive adds chip-specific behaviors to the input element within for adding and
      removing chips. </mat-card-subtitle>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-card-title>Stacked Chips</mat-card-title>
    <mat-card-subtitle>You can also stack the chips if you want them on top of each other and/or use the
      <code>(focus)</code> event to run custom code.</mat-card-subtitle>

  </mat-card-content>
</mat-card>