<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content class="p-b-0 m-b-0">
				<mat-card-title>Inspektionsergebnisse</mat-card-title>
				<mat-card-subtitle>HIer haben sie eine übersicht über ihre INspektionen</mat-card-subtitle>
			</mat-card-content>
			<mat-list>
				<div mat-subheader>Ordner</div>
				<mat-list-item *ngFor="let folder of folders">
					<mat-icon matListItemIcon>folder</mat-icon>
					<div matListItemTitle>{{folder.name}}</div>
					<div matListItemLine>{{folder.updated | date}}</div>
				</mat-list-item>
				<mat-divider></mat-divider>
				<div mat-subheader>Anmerkungen</div>
				<mat-list-item *ngFor="let note of notes">
					<mat-icon matListItemIcon>note</mat-icon>
					<div matListItemTitle>{{note.name}}</div>
					<div matListItemLine>{{note.updated | date}}</div>
				</mat-list-item>
			</mat-list>
		</mat-card>
	</div>
</div>
