<!-- ============================================================== -->
<!-- List with selection-->
<!-- ============================================================== -->
<div class="row">
	<div class="col-lg-6">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Ihre Aufträge</mat-card-title>
				<mat-card-subtitle> Übersicht über ihre aktuellen Aufträge und deren Status
					</mat-card-subtitle>
					
				<mat-selection-list #shoes>
					<mat-list-option style="padding: 10px; height: 150px;" *ngFor="let auftrag of auftrage">
						<mat-list-item style="padding: 0; height: 100px; margin-top: -20px;">
						<h3 matListItemTitle> {{auftrag.from}}</h3>
						<p matListItemLine> {{auftrag.subject}}</p>
						<p matListItemLine class="demo-2"> {{auftrag.content}}</p>
					</mat-list-item>
					</mat-list-option>
				</mat-selection-list>
				<p>
					Aufträge abgeschlossen: {{shoes.selectedOptions.selected.length}}
				</p>
			</mat-card-content>
		</mat-card>

		<app-ins-ergebnisse></app-ins-ergebnisse>

	</div>