<mat-card>
	<mat-card-content>    
	<mat-card-title>Kommunikation</mat-card-title>
			<mat-card-subtitle>Hier werden alle Fragen beantwortet</mat-card-subtitle>
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
		<div style="display: flex; flex-direction: row; align-items: center; margin: auto;">
		<app-profile> </app-profile>
		<div style="content: ''; width:50px;"></div>
	<app-contacts>
  </app-contacts>
 </div>
  <app-file-upload></app-file-upload>
  </div>
	</mat-card-content>
</mat-card>